<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Furniswap</title>
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/assets/allJS.js"></script>
</head>
<body>
 <% include partials/header.ejs %>
 <% include partials/user-navigation.ejs %>
 <div id="container">
  <% include partials/site-navigation.ejs %>
  <main id="main">
    <div id="divBreadcrumb">
      <ul class="breadcrumb">
        <li class="li-home"><a href="/index">Home</a></li>
        <li class="li-Categories"><a href="/categories">Categories</a></li>
        <li>Item</li>
      </ul>
    </div>

    <section id="swapSection">
     <div class="div-detail">
      <div class="div-img"> <img src=<%= theItem.imageUrl %> alt="Red Upholstered Sofa"></div>
      <h3><%= theItem.itemName %></h3>
      <p><%= theItem.description %></p>
      <form id="radioSwap" action="/mySwaps" method="POST">  
        <div id="div-swap">
         <h3>Select an item from your available swaps</h3>
         <h4 id="h4-selectOne">Select atleast one item!</h4>
         <input type="hidden" name="toSwapItemCode" value="<%= theItem.itemCode %>">
         <table>
          <% for(var j=0; j < availableItems.length; j++) { %>     
          <tr>
            <td>
              <input type='radio' id="radioBtnSwap" name='radioSwap' value="<%= availableItems[j].itemCode%>">
            </td>
            <td>
              <a class='a-title' href="/item?theItem=<%= availableItems[j].itemCode%>"><%= availableItems[j].itemName %></a>                   
            </td>                      
          </tr>     
          <% } %>          
        </table>
        <input id="btnConfirmSwap" class="btn-confirmSwap" type="submit" value="Confirm Swap">
      </div>
    </form> 
  </div>
  
</section>
</main>    
<br>
<% include partials/footer.ejs %> 
</div>
</body>
</html>